.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-content p {
  margin: 0;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  display: inline-flex;
}

.youtube-icon, .instagram-icon, .x-icon {
  height: auto;
}

.youtube-icon {
  width: 75px;
}

.instagram-icon {
  width: 100px;
}

.x-icon {
  width: 60px;
}

.text-container {
  max-width: 400px;
  margin-left: 0;
  margin-right: auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.2;
}

@media (max-width: 480px) {
  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .youtube-icon {
    width: 70px;
  }

  .instagram-icon {
    width: 110px;
  }

  .x-icon {
    width: 60px;
  }

  .social-links a {
    margin: 5px 0;
  }
}
